table.bordered {
    /* border-collapse: collapse;
    border-bottom: none; */
    border: 1px solid lightgray;
    border-radius: 5px;
    border-bottom: none;
    width: 100%;
  }
  td {
    padding: 10px;
  }
  .separator {
    border-bottom: 1px solid lightgray;
  }
  .main-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .list-wrap{
    width: 30%;
    display: flex;
    margin: 5px;
    flex-direction: column;
  }
  .list-wrapx{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 5px;
  }